API_URL="https://api-educ.microcap.fr/"
STRIPE_KEY="pk_test_51ILMcRF8O7K51xUUQ3rGe0lMNsDJWjM4DCxMH7zJwnxl2uFiVeC8hzrOYmAGHKiU4XAM5OIgHTZhjDrac7vP97yo00VO7op4Qx"
NODE_ENV="production"
TERRITORY_URL="http://209.126.82.154:8090"