body {
    background-color: white;
}

.header-slide {
    margin-top: 120px;
    background-color: #F4F7FA;
}

.showcase-card-block {
    padding: '15vh 10vw'; 
    background-image: url('Assets/img/bg-shape-gray.png')
}

.become-member-card {
    padding: 5%;
}

.slide-item {
    background-size: cover;
    height: 50vh;
}

@media (min-width: 600px) {
    .discover-content {
        // width: 100%;
        // display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .header-slide {
      margin-top: 90px;
    }

    .slide-content-right, .slide-content-left {
        padding: 5%;
        width: 100%;
    }

    .slide-item {
        background-size: cover;
        height:50vh;
    }

    .showcase-card-block {
        padding: 5%;
        margin-top: 10%; 
        background-image: none
    }

    .showcase-card-block > div > .intro {
        margin-top: 5%;
    }

    #services .client-post {
        min-height: 0%;
    }
}