.displayErrorMessage {
  margin-top: 10px !important;
}

.label-invalid {
  color: #F44336;
}

.custom-error-text {
  display: block !important;
  font-size: 0.9rem !important;
  padding-left: 60px !important;
}

.has-wrapper .has-icon {
  bottom: 13px !important;
  top: unset !important;
}

.align-items-flex-end { align-items: flex-end !important;}

.text-decoration-underline {
  text-decoration: underline !important;

  @at-root #{&}-hover:hover {
    text-decoration: underline !important;
    cursor: pointer;
  }
}

.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;

  & div:first-child {
    height: 6px !important;
  }

  &-overlay {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 9999;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    transition: all .4s;
  }
}

.cursor-pointer:hover {
  cursor: pointer !important;
}

.text-black {
  color: $black !important;
}

.bg-black {
  background: $black !important;
}

.full-height {
  min-height: calc(100vh - 180px) !important;
}

.page-list {
  @media (max-width: 576px) {
    //padding-right: 1.25rem;
  }
}

.bg-small-white {
  background: rgb(240, 240, 240) !important;
}

.h__bg-small-white:hover {
  background: rgb(240, 240, 240) !important;
}

.group-item-li > li {
  margin: 0 !important;
}

.bg-blue {
  &[class*="disabled"] {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }
}

.icon-hover {
  padding: 10px;
  border-radius: 50%;

  &:hover {
    background: #b9b9b92b !important;
  }
}

.icon-rounded-bg {
  padding: 10px;
  border-radius: 50%;
  background: #b9b9b92b;
}

.opacity-1 {
  opacity: 1 !important;
}

.btn-xs.pl-0 {
  padding: 0 !important;
}

.notification-hover {
  opacity: 0 !important;
}

.notification-hover-wrapper:hover {
  .notification-hover {
    opacity: 1 !important;
  }
}

.user-status-pending {
  position: absolute;
  /* top: 0; */
  right: 4px;
  bottom: 0;

  &-circle {
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    position: relative;
  }
}


.custom-fieldset {
  //border: 2px groove threedface;
  border: 1px groove rgba(0, 0, 0, 0.23);
  padding: 1em;

  &.custom-fieldset-rounded {
    border-radius: 5px;
  }

  &-title {
    float: left;
    margin: -1.7em 0 0;
    padding: 0 .5em;
    background: #fff;
    font-size: 1em;
    font-weight: normal;
  }
}

.input-border {
  border: 1px solid #dee2e6 !important;
}

.btn-submit {
  margin-left: 15px !important;
  margin-top: 15px !important;
}



.event-show {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 11px;

  .banner {
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    position: absolute;
    background: linear-gradient(to left, #122230 0%, #192d3e 100%);
    pointer-events: none;
    background-size: cover;
    z-index: -1;

    @media (max-width: 576px) {
      height: 160px;
    }
  }

  &-header {
    .event-title {
      font-size: 1.7rem;
    }
    img {
      width: 4.8rem;
    }
  }

  .event-item-elt {
    //margin-top: 15px;
    margin-bottom: 1.6rem;
    margin-top: .8rem;
  }

  @media (max-width: 992px) {
    //padding-left: 32px;
    //padding-right: 32px;
    //padding-top: 20px;
    //padding: 0 1.6rem;
    padding-top: 20px !important;
  }
}

.btn-inflated {
  background-color: $primary;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 0.5px 0.3px #0000001a;
  box-shadow: 0 2px 4px -1px #091e4299;
  background-image: linear-gradient(to bottom, $primary, $primary-bolded);

  &.outlined {
    background: $gray-200;
    color: $primary;
    border: 1px solid $primary;
    box-shadow: none;

    &:hover {
      color: $black;
      border-color: $black;
    }
  }
}

.custom-arrow {
  svg {
    $ease: cubic-bezier(.2,1,.3,1);
    width: 100px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
    polygon, path {
      transition: all 0.5s $ease;
    }
    &:hover polygon, &:hover path {
      transition: all 1s $ease;
      fill: #FF4136;
    }

    &:hover .arrow {
      animation: arrow-anim 2.5s $ease infinite;
    }
    &:hover .arrow-fixed {
      animation: arrow-fixed-anim 2.5s $ease infinite;
    }
  }
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

#discover-page {
  font-family: Roboto, sans-serif !important;

  .btn-discovery {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
  }
}

.discover {
  &-block {
    /*min-height: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    background-color: white;
    margin-top: 20px;
    border-radius: 4px;
    display: block;*/
  }

  &-heading {
    /*border-left-style: solid;
    border-left-width: 40px;
    color: #fccc00;
    padding-left: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 4px;
    margin-bottom: 30px;*/

    h3 {
      margin-top: 80px;
      margin-bottom: 40px;
      font-weight: bold;
      font-size: large;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -85px;
        top: 7px;
        width: 75px;
        height: 3px;
        border-radius: 13px;
        background-color: $primary;
      }

      &:after {
        content: '';
        position: absolute;
        right: -85px;
        top: 7px;
        width: 75px;
        height: 3px;
        border-radius: 13px;
        background-color: $primary;
      }
    }
  }

  &-content {
    p.ctext {
      text-align: justify !important;
      font-size: 14px !important;
      color: #464D69 !important;
    }
  }
}



.ctitle {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 30px;
    bottom: -1px;
    width: 148px;
    height: 2px;
    background-color: $primary;
  }

  &:after {
    content: '@';
    position: absolute;
    //left: 0;
    //bottom: 10px;
    color: $primary;
    //transform: rotate(540deg);

    left: 20px;
    bottom: -25px;
    transform: rotateX(550deg);
    //width: 10px;
    //height: 5px;
    //background-color: $primary;
  }
}

.a-plus {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #222222;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

.a-plus span, .a-plus-content {
  font-size: 20px;
  color: $primary;
  position: absolute;
  top: -6px;
  right: -5px;
  /*font-size: 85.71429%;*/
  line-height: 1.75 !important;
}

ol.custom-list > li, ol.custom-list > li::before {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

ol.custom-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}
ol.custom-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  font-size: 15px !important;
}
ol.custom-list > li::before, ol.custom-list > li::after {
  background: linear-gradient(135deg, $primary 0%, $primary 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: '';
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.custom-list > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #fff;
  display: flex;
  font: 900 1.5em/1 'Montserrat';
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}
ol.custom-list > li:nth-child(10n+1):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.2) 0%, rgba(153, 124, 40, 0.2) 100%);
}
ol.custom-list > li:nth-child(10n+2):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.4) 0%, rgba(153, 124, 40, 0.4) 100%);
}
ol.custom-list > li:nth-child(10n+3):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.6) 0%, rgba(153, 124, 40, 0.6) 100%);
}
ol.custom-list > li:nth-child(10n+4):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.8) 0%, rgba(153, 124, 40, 0.8) 100%);
}
ol.custom-list > li:nth-child(10n+5):before {
  background: linear-gradient(135deg, #f25204 0%, #997c28 100%);
}
ol.custom-list > li:nth-child(10n+6):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.8) 0%, rgba(153, 124, 40, 0.8) 100%);
}
ol.custom-list > li:nth-child(10n+7):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.6) 0%, rgba(153, 124, 40, 0.6) 100%);
}
ol.custom-list > li:nth-child(10n+8):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.4) 0%, rgba(153, 124, 40, 0.4) 100%);
}
ol.custom-list > li:nth-child(10n+9):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.2) 0%, rgba(153, 124, 40, 0.2) 100%);
}
ol.custom-list > li:nth-child(10n+10):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0) 0%, rgba(153, 124, 40, 0) 100%);
}
ol.custom-list > li + li {
  margin-top: 2rem;
}


.user-profile-item {
  padding-bottom: 20px;
}

.user-profile-item-value{
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom : 1px solid rgba(70, 77, 105, 0.2)
}

.user-profile-item-value span{
  border-radius: 5px;
  padding: 10px;
  background-color:  rgba(70, 77, 105, 0.2)
}



//discovery footer css

.content-main {
  height: 200vh;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  float: left;
}
.fh5co-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}

#fh5co-footer {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 3em 0;
  }
}

#fh5co-footer {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    min-height: 40px;
  }

  p {
    color: rgba(255, 255,255, 0.5);
    margin-bottom: 0;
  }

  @media screen and (max-width: 768px) {
    h3, p, li, a {
      text-align: center !important;
    }
  }

  .fh5co-footer-links {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      transition: all .4s;

      &:not(.no-link):hover {
        transform: translateX(5px);
      }

      &.no-link {
        &:hover a {
          cursor: initial !important;
          color: rgba(255, 255, 255, 0.5) !important;
        }
      }

      a {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
        margin-bottom: 10px;

        &:hover {
          color: rgba(255, 183, 15, 0.7);
        }
      }

      .activefooter {
        color: rgba(255, 183, 15, 1);
        text-decoration: none;
      }
    }
  }

  .fh5co-widget {
    margin-bottom: 30px;

    @media screen and (max-width: 768px) {
      text-align: left;
    }
  }

  .copyright .block {
    display: block;
  }

  .contact {
    .icon {
      cursor: pointer;
      font-weight: bold;
      color: white;
      font-size: 18px;
      background: #febb3a94;

      &:hover {
        background-color: $primary;
      }
    }

    li {
      &.no-link {
        @media screen and (max-width: 768px) {
          display: flex;
          justify-content: center;
        }
      }

      a {
        cursor: pointer !important;
        font-weight: 700;

        span {
          cursor: pointer !important;
        }
      }
    }

    li a:hover {
      color: white !important;

      span {
        color: white !important;
      }

      .icon {
        background-color: $primary;
      }
    }

    @media screen and (min-width: 768px) {
      &:before {
        content: ' ';
        position: absolute;
        left: -11%;
        top: calc(50% - 80px);
        width: 2px;
        height: 100px;
        background: #9e9e9e;
        border-radius: 0 100%;
      }
    }
  }

  .icon-social {
    color: $primary !important;
    i {
      color: $primary !important;
    }
  }
}
.inline-nav-arrow-initial {
  margin-left: 10px;
  transform: rotate(0);
  transition: transform 500ms;
}

.inline-nav-arrow-final {
  margin-left: 10px;
  transform: rotate(180deg);
  transition: transform 500ms;
}

.nav-item-border {
  border: none;
}
.product-section-title {
  background-size: 250% auto;
  background-image: linear-gradient(
                  45deg
          , $primary 0, #fd9d52 51%, $primary 100%);
  margin-top: 7vh;
  position: relative;
  padding: 100px 0;

  &:before {
    position: absolute;
    content: '';
    left: -1px;
    right: -1px;
    bottom: -1px;
    top: 0;

    background: url(https://freakytheme.com/html/xappox/image/bg-trans-4.png) right center no-repeat;
    background-size: cover;
  }
}

.discover-products {

  .discover-content {
    margin-top: 200px;
    margin-bottom: 50px;
  }

  ul {
    line-height: 1.7em;
    font-size: 0.9em;
    list-style-type: '> ';
  }

  h4 {
    font-weight: 500;
    color: #161C2D;
    margin: 0 0 30px 0;
    line-height: 1.3;
    text-align: left;
    font-size: 1.75em;
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 80px;
      height: 5px;
      background: $primary;
      border-radius: 50px;
    }
  }

  .title-divider {
    margin: 10px 0;
    width: 80px;
    height: 5px;
    background: #f5c62c;
    border-radius: 50px;
  }

  .p-block {
    text-align: justify;
    font-size: 1.2em;
    line-height: 2;

    p {
      //text-align: justify;
      font-size: 0.9em;
      line-height: 1.7;
      //line-height: 1.5em;
    }

    .p-end {
      font-weight: bold;
    }

    .p-list {

    }
  }
}

.bare {
  width: 80px;
  height: 5px;
  background: $primary;
  border-radius: 50px;
  margin: 0 5px;

  &.small {
    width: 10px !important;
  }

  &.rounded.small {
    height: 10px !important;
  }
}
.nav-link-mobile {
  color: #464D69;
  display: block;
  padding: 0.70rem 1rem;
  font-size: inherit;
  font-weight: bold;

  i.drop-arrow {
    font-size: 12px;
    transition: all .4s;
  }
}

.nav-item-border:hover {
  border-bottom: solid #e8a200 1px;
  transition: transform 500ms;
  animation:example 2s;

}

.nav-link-mobile-sub{
  color: #464D69!important;
  display: block;
  padding: 5px 10px;
  font-size: 0.9em;
}

@keyframes example {
  0%   {border-bottom-color: #e8a200; left:0px; top:0px; right:0px; bottom:0px;}
  25%  {border-bottom-color: #e8a200; left:0px; top:0px; right:5px; bottom:0px;}
  50%  {border-bottom-color: #e8a200; left:0px; top:0px; right:10px; bottom:0px;}
  100% {border-bottom-color: #e8a200; left:0px; top:0px; right:15px; bottom:0px;}
}

/*Handle Video*/
.video {
  padding: 15vh 10vw;

  @media screen and (max-width: 768px) {
    padding: 0 5vw;
  }

  .video-text-content {
    padding: 8%;
    p {
      font-size: larger;
    }
  }

  .video-display {
    position: relative;

    .btn-over {
      $size: 75px;
      position: absolute;
      left: calc(50% - (#{$size} / 2));
      top: calc(50% - (#{$size} / 2));
      background: #00000061;
      border-radius: 50px;
      color: white;
      width: $size;
      height: $size;

      i:after {
        position: absolute;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        content: '';
        border-radius: 50%;
        display: block;
        background: rgba(255, 255, 255, .8);
        width: 80%;
        height: 80%;
        animation: grow-scnd 1.5s infinite;
        -o-animation: grow-scnd 1.5s infinite;
        -moz-animation: grow-scnd 1.5s infinite;
        -webkit-animation: grow-scnd 1.5s infinite;
        -ms-animation: grow-scnd 1.5s infinite;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
      }
    }
  }
}
.main-dialog {
  .MuiDialog-container {
    .MuiPaper-root {
      background: none !important;
      box-shadow: none !important;
      .MuiDialogTitle-root {
        padding-bottom: unset !important;
      }
      .MuiDialogContent-root {
        .video-react-controls-enabled {
          .video-react-big-play-button {
            display: none !important;
          }
        }
      }
    }
  }
  .close-cross {
    float: right;
    color: white;
  }
}
/**/

#navbarContent {
  transition: all .5s;

  &.animated {
    animation: fadeIn 1s ease-in both;
  }

  &.mobile {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  &.mobile-visible {
    opacity: 1;
    bottom: 0;
    top: unset;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


#nav {
  #main-nav {
    &.show-mobile-nav {
      display: none;
    }
    .desktop-dropdown {
      button {
        background: #f4f7fa5c;
      }
      button:hover {
        background: white;
        a {
          color: black!important;
        }
      }
    }
  }

  #mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 10px 15px;
    width: 100%;
    z-index: 1005;
    //background: rgba(34, 33, 33, 0.99);

    #mobile-nav-center {
      display: none;
    }

    &.show-mobile-nav {
      display: block;
    }

    .menu-toggler {
      /*z-index: 999;
      //height: 28px;
      width: 28px;*/
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75px;

      div {
        position: relative;
      }

      span,
      span::before,
      span::after {
        position: absolute;
        content: '';
        left: 0;
        width: 28px;
        height: 2.5px;
        background: $black;
        border-radius: 20px;
        transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
      }
      span::before {
        top: -8px;
      }

      span::after {
        top: 8px;
      }
      &.active span  {
        background: transparent;
      }
      &.active span::before,
      &.active span::after {
        background: black;
        top: 0px;
      }

      &.active span::before  {
        @include transform(rotate(-225deg));
      }

      &.active span::after  {
        @include transform(rotate(225deg));
      }

    }

    #mobile-center {
      //display: none;
      /*position: absolute;
      left: 0;
      top: -1000px;
      right: 0;
      background: #F4F7FA !important;
      transition: all .4s;*/
    }
  }
}

.intro-banner {
  background-position: center;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .revolution {
    display: none;
  }

  p {
    position: absolute;
    top: 43%;
    //left: 25%;
    left: calc((100vw - 980px) / 2);
    font-weight: 600;
    text-align: center;
  }

  /*@media screen and (max-width: 1450px) {
    //height: 60vh;
    p {
      //top: 43%;
      left: 20%;
    }
  }*/

  @media screen and (max-width: 1225px) {
    height: 60vh;
    p {
      //top: 43%;
      left: 10%;
    }
  }

  @media screen and (max-width: 1082px) {
    height: 40vh;
    p {
      //top: 43%;
      left: 3%;
      text-shadow: #fc0 1px 0 10px;
    }
  }

  @media screen and (max-width: 800px) {
    height: 100vh;
    background-position: left;

    .revolution {
      display: block;
      position: absolute;
      top: 25%;
      left: 3%;
      text-align: center;

      img {
        transform: scale(1.1);
      }
    }

    p {

    }
  }

}

.showcase-text {
  position: absolute;
}

.showcase-card-block {
  background: white;
  padding: 20vh 10vw;

  .intro {
    h2 {
      text-align: center;
      font-size: 2.5em;
      font-weight: 500;
      color: #161C2D;
      margin: 0 0 10px 0;
      line-height: 1.3;
    }

    p {
      margin-bottom: 0;
      font-size: 1.2em;
    }
  }
}

@keyframes grow-scnd {
  0% {
    width: 0;
    height: 0;
    opacity: 1
  }
  50% {
    width: 0;
    height: 0;
    opacity: 1
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0
  }
}

#services {
  padding: 20vh 10vw;
  background: white;

  .title-block {
    margin: 50px 0;
    h2 {
      font-size: 3em;
      text-align: center;

      &:after {
        $sizeWidth: 200px;
        content: ' ';
        position: absolute;
        background: $primary;
        left: calc(50% - (#{$sizeWidth} / 2));
        bottom: -10px;
        width: $sizeWidth;
        height: 12px;
        transform: rotate(-2deg);
        border-radius: 0 100%;
      }
    }

    a {
      &:hover {
        color: white;
        background: white;
      }
    }
  }

  .item-block {
    position: relative;

    &:after {
      left: 105px;
      content: ' ';
      position: absolute;
      width: 300px;
      height: 300px;
      /* background: red; */
      /* border: 1px dashed; */
      bottom: -101px;
      transform: rotate(251deg);
      border-radius: 50%;
      box-shadow: 40px 40px 0 0 #9e9e9e26;
      border-color: #9e9e9ed4;
    }
  }

  .rct-block {
    background: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
  }

  .client-post {
    min-height: 300px;

    .img-block {
      position: relative;
      &:after {
        position: absolute;
        content: ' ';
        width: 15px;
        height: 15px;
        left: 0;
        top: 0;
        background: $primary;
        border-radius: 50%;
      }

      &.first {
        &:after {
          left: 76px;
        }
      }

      &.second {
        &:after {
          left: 108px;
          top: 50px;
        }
      }

      &.third {
        &:after {
          left: 20px;
          top: 100px;
        }
      }

      &.four {
        &:after {
          left: 2px;
          top: 20px;
        }
      }

      img {
        border: 1px dashed #9e9e9e;
        border-radius: 50%;
        padding: 10px;
      }
    }

    .client-content {
      h4 {
        font-size: 1.3em;
        min-height: 50px;
      }

      p {
        text-align: justify;
      }
    }
  }
}

#pass-section {
  //background: #24262d;
  background: #e7e8ea;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;

  @media screen and (max-width: 578px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .services-box {
    background: #ffffff;
    padding: 100px;
  }

  .area-img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 66.6%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    transition: all 0.3s ease-out 0s;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .visibRight {
    visibility: visible;
    animation-name: fadeInRight;

    .title-block {
      margin: 30% 0 0 0;
      color: black;

      @media screen and (max-width: 578px) {
        padding-left: 15px;
        padding-bottom: 15%;
      }

      h3 {
        font-size: 35px;
        font-weight: 700;
        line-height: 35px;
      }

      h4 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        position: relative;
        //padding-left: 30px;
        margin-bottom: 15px;

        /*&:before {
          background: #ff9800;
          height: 2px;
          width: 20px;
          content: "";
          position: absolute;
          left: 0;
          top: 11px;
        }*/
      }
    }
  }

  .visibLeft {
    visibility: visible;
    animation-name: fadeInLeft;

    .services-box {
      background: #ffffff;
      padding: 100px;

      @media screen and (max-width: 578px) {
        padding: 30px;
      }
    }

    .single-services {
      display: flex;
      margin-bottom: 36px;
      transition: all 0.3s;
      position: relative;

      &:before {
        content: ' ';
        position: absolute;
        left: -18px;
        top: 12px;
        width: 0px;
        height: 0px;
        /* background: red; */
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 20px solid #fabb35;
        border-radius: 50%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .services-content-box {
        margin-left: 30px;

        h3 {
          font-size: 24px;
          font-weight: 500;
          line-height: 1;
          margin: 0 0 15px;
          text-transform: capitalize;
        }

        p {
          margin-bottom: 0;
        }
      }
    }


  }

  @media (min-width: 768px) and (max-width: 991px) {
    .title-block {
      margin: 0 0 50px;
    }

    .order-2 {
      order: 0;
    }
  }

  @media (max-width: 575px) {

    .title-block {
      margin: 0 0 50px;
    }

    .order-2 {
      order: 0;
    }
  }


  @media only screen and (min-width: 576px) and (max-width: 767px) {

    .title-block {
      margin: 0 0 50px;
    }

    .order-2 {
      order: 0;
    }

    .services-box {
      padding: 50px 40px;
    }

  }
}

.pioniers {
  color: #FFFFFF;
  background-image: url("Assets/img/pionier.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 578px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .pionier-wrapper1 {
    padding: 5%;
    margin: 15%;
    margin-right: 0%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;

    #pioniers {
      h1 {
        font-size: xx-large !important;
        font-family: sans-serif;
      }
    }

    .container {
      p {
        font-size: large;
      }
    }
  }

  @media only screen and (max-width: 964px)  {
    .pionier-wrapper1 {
      padding: 5%;
      margin: 3%;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      #pioniers {
        h1 {
          font-size: xx-large !important;
          font-family: sans-serif;
        }
      }
      .container {
        p {
          font-size: large;
        }
      }
    }

  }
  .pionier-wrapper2 {
    padding: 5%;
    margin: 15%;
    margin-left: 0%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    #agents {
      h1 {
        font-size: xx-large !important;
        font-family: sans-serif;
      }
    }
    .container {
      p {
        font-size: large;
      }
    }
  }
  @media only screen and (max-width: 964px)  {
    .pionier-wrapper2 {
      padding: 5%;
      margin: 3%;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 5px;
      #agents {
        h1 {
          font-size: xx-large !important;
          font-family: sans-serif;
        }
      }
      .container {
        p {
          font-size: large;
        }
      }
    }
  }

}

/*pionier and agent Page*/
.pionier-content {
  .pionier-content-text {
    color: #FFFFFF;
    background-image: url("Assets/img/pionier.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .back-to-discover {
      color: #FFFFFF !important;
    }
  }
}

.person-block {
  .single-item {
    margin-bottom: 30px;
  }

  .thumb {
    max-width: 350px;
    max-height: 370px;
    width: 350px;
    height: 370px;
    overflow: hidden;

    position: relative;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px #cccccc;

    .img-wrapper {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      //background-position: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .social {
      position: absolute;
      right: 30px;
      bottom: -22px;

      .share-button {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        color: #ffffff;
        background: linear-gradient(
                        45deg
                ,#02ebad 0%,#5a57fb 100%);
        border-radius: 10px;
        box-shadow: 0px 0px 0px 5px #ffffff;
        cursor: pointer;
        transition: .3s ease;
        transform: rotate(45deg);
        font-weight: normal;
        margin-bottom: 5px;
        max-width: 100%;

        .share-icon {
          position: absolute;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          height: 45px;
          border-radius: 45px;
          transform: translateX(0) rotate(
                          180deg
          );
          cursor: pointer;
          transition: .3s ease-in-out;
        }
      }
    }

    .share-toggle:checked ~ .share-icon:nth-child(3) {
      transform: translateY(-70px) rotate(0);
    }
  }

  .info {
    padding: 20px 20px 0 10px;
    margin-bottom: -5px;

    h4 {
      font-weight: 600;
      margin-bottom: 5px;
    }
    span {
      color: $primary;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}
