.center-hor-ver {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.visibility-hidden {
  visibility: hidden;
}

.pl-pr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.displayErrorMessage {
  margin-top: 10px !important;
}

.label-invalid {
  color: #F44336;
}

.custom-error-text {
  display: block !important;
  font-size: 0.9rem !important;
  padding-left: 60px !important;
}

.has-wrapper .has-icon {
  bottom: 13px !important;
  top: unset !important;
}

.font-size-medium {
  font-size: medium !important;
}

.align-items-flex-end { align-items: flex-end !important;}

.text-decoration-underline {
  text-decoration: underline !important;

  @at-root #{&}-hover:hover {
    text-decoration: underline !important;
    cursor: pointer;
  }
}

.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;

  & div:first-child {
    height: 6px !important;
  }

  &-overlay {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 9999;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    transition: all .4s;
  }
}

.cursor-pointer:hover {
  cursor: pointer !important;
}

.text-black {
  color: $black !important;
}

.bg-black {
  background: $black !important;
}

.full-height {
  min-height: calc(100vh - 180px) !important;
}

.page-list {
  @media (max-width: 576px) {
    //padding-right: 1.25rem;
  }
}

.bg-small-white {
  background: rgb(240, 240, 240) !important;
}

.h__bg-small-white:hover {
  background: rgb(240, 240, 240) !important;
}

.group-item-li > li {
  margin: 0 !important;
}

.bg-blue {
  &[class*="disabled"] {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }
}

.icon-hover {
  padding: 10px;
  border-radius: 50%;

  &:hover {
    background: #b9b9b92b !important;
  }
}

.opacity-1 {
  opacity: 1 !important;
}

.btn-xs.pl-0 {
  padding: 0 !important;
}

.notification-hover {
  opacity: 0 !important;
}

.notification-hover-wrapper:hover {
  .notification-hover {
    opacity: 1 !important;
  }
}

.user-status-pending {
  position: absolute;
  /* top: 0; */
  right: 4px;
  bottom: 0;

  &-circle {
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    position: relative;
  }
}


.custom-fieldset {
  //border: 2px groove threedface;
  border: 1px groove rgba(0, 0, 0, 0.23);
  padding: 1em;

  &.custom-fieldset-rounded {
    border-radius: 5px;
  }

  &-title {
    float: left;
    margin: -1.7em 0 0;
    padding: 0 .5em;
    background: #fff;
    font-size: 1em;
    font-weight: normal;
  }
}

.input-border {
  border: 1px solid #dee2e6 !important;
}

.btn-submit {
  margin-left: 15px !important;
  margin-top: 15px !important;
}



.event-show {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 11px;

  .banner {
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    position: absolute;
    background: linear-gradient(to left, #122230 0%, #192d3e 100%);
    pointer-events: none;
    background-size: cover;
    z-index: -1;

    @media (max-width: 576px) {
      height: 160px;
    }
  }

  &-header {
    .event-title {
      font-size: 1.7rem;
    }
    img {
      width: 4.8rem;
    }
  }

  .event-item-elt {
    //margin-top: 15px;
    margin-bottom: 1.6rem;
    margin-top: .8rem;
  }

  @media (max-width: 992px) {
    //padding-left: 32px;
    //padding-right: 32px;
    //padding-top: 20px;
    //padding: 0 1.6rem;
    padding-top: 20px !important;
  }
}

.discover {
  &-block {
    /*min-height: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
    background-color: white;
    margin-top: 20px;
    border-radius: 4px;
    display: block;*/
  }

  &-heading {
    /*border-left-style: solid;
    border-left-width: 40px;
    color: #fccc00;
    padding-left: 20px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #000;
    border-radius: 4px;
    margin-bottom: 30px;*/

    h3 {
      margin-top: 80px;
      margin-bottom: 40px;
      font-weight: bold;
      font-size: large;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -85px;
        top: 7px;
        width: 75px;
        height: 3px;
        border-radius: 13px;
        background-color: $primary;
      }

      &:after {
        content: '';
        position: absolute;
        right: -85px;
        top: 7px;
        width: 75px;
        height: 3px;
        border-radius: 13px;
        background-color: $primary;
      }
    }
  }

  &-content {
    p.ctext {
      text-align: justify !important;
      font-size: 14px !important;
      color: #464D69 !important;
    }
  }
}

.ctitle {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 30px;
    bottom: -1px;
    width: 148px;
    height: 2px;
    background-color: $primary;
  }

  &:after {
    content: '@';
    position: absolute;
    //left: 0;
    //bottom: 10px;
    color: $primary;
    //transform: rotate(540deg);

    left: 20px;
    bottom: -25px;
    transform: rotateX(550deg);
    //width: 10px;
    //height: 5px;
    //background-color: $primary;
  }
}

.a-plus {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #222222;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

.a-plus span, .a-plus-content {
  font-size: 20px;
  color: $primary;
  position: absolute;
  top: -6px;
  right: -5px;
  /*font-size: 85.71429%;*/
  line-height: 1.75 !important;
}

ol.custom-list > li, ol.custom-list > li::before {
  box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

ol.custom-list {
  counter-reset: gradient-counter;
  list-style: none;
  margin: 1.75rem 0;
  padding-left: 1rem;
}
ol.custom-list > li {
  background: white;
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  font-size: 15px !important;
}
ol.custom-list > li::before, ol.custom-list > li::after {
  background: linear-gradient(135deg, $primary 0%, $primary 100%);
  border-radius: 1rem 1rem 0 1rem;
  content: '';
  height: 3rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  top: -1rem;
  width: 3rem;
}
ol.custom-list > li::before {
  align-items: flex-end;
  content: counter(gradient-counter);
  color: #fff;
  display: flex;
  font: 900 1.5em/1 'Montserrat';
  justify-content: flex-end;
  padding: 0.125em 0.25em;
  z-index: 1;
}
ol.custom-list > li:nth-child(10n+1):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.2) 0%, rgba(153, 124, 40, 0.2) 100%);
}
ol.custom-list > li:nth-child(10n+2):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.4) 0%, rgba(153, 124, 40, 0.4) 100%);
}
ol.custom-list > li:nth-child(10n+3):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.6) 0%, rgba(153, 124, 40, 0.6) 100%);
}
ol.custom-list > li:nth-child(10n+4):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.8) 0%, rgba(153, 124, 40, 0.8) 100%);
}
ol.custom-list > li:nth-child(10n+5):before {
  background: linear-gradient(135deg, #f25204 0%, #997c28 100%);
}
ol.custom-list > li:nth-child(10n+6):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.8) 0%, rgba(153, 124, 40, 0.8) 100%);
}
ol.custom-list > li:nth-child(10n+7):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.6) 0%, rgba(153, 124, 40, 0.6) 100%);
}
ol.custom-list > li:nth-child(10n+8):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.4) 0%, rgba(153, 124, 40, 0.4) 100%);
}
ol.custom-list > li:nth-child(10n+9):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0.2) 0%, rgba(153, 124, 40, 0.2) 100%);
}
ol.custom-list > li:nth-child(10n+10):before {
  background: linear-gradient(135deg, rgba(242, 82, 4, 0) 0%, rgba(153, 124, 40, 0) 100%);
}
ol.custom-list > li + li {
  margin-top: 2rem;
}
 

.user-profile-item {
  padding-bottom: 20px;
}

.user-profile-item-value{
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom : 1px solid rgba(70, 77, 105, 0.2)
}

.user-profile-item-value span{
  border-radius: 5px;
  padding: 10px;
  background-color:  rgba(70, 77, 105, 0.2)
}



//discovery footer css

.content-main {
  height: 200vh;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.fh5co-bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  float: left;
}
.fh5co-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}

#fh5co-footer {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 3em 0;
  }
}

#fh5co-footer {
  position: relative;
}
#fh5co-footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-footer h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-footer-links li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#fh5co-footer .fh5co-footer-links li .activefooter {
 color: rgba(255, 183, 15, 1);
  text-decoration: none;
}

#fh5co-footer .fh5co-footer-links li a:hover {
  color: rgba(255, 183, 15, 0.7);
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#fh5co-footer .copyright .block {
  display: block;
}

.inline-nav-arrow{
  margin-left: 10px;
  transform: rotate(180deg);
}

.inline-nav-arrow:hover{
  margin-left: 10px;
  transform: rotate(0);
  transition: transform 500ms;
}

.nav-item-border{
  border: none;
}

.nav-item-border:hover{
  border-bottom: solid #e8a200 1px;
  transform: translateX(50px, 0);
  transition: transform 500ms;
  animation:example 2s;
 
}


@keyframes example {
  0%   {border-bottom-color: #e8a200; left:0px; top:0px; right:0px; bottom:0px;}
  25%  {border-bottom-color: #e8a200; left:0px; top:0px; right:5px; bottom:0px;}
  50%  {border-bottom-color: #e8a200; left:0px; top:0px; right:10px; bottom:0px;}
  100% {border-bottom-color: #e8a200; left:0px; top:0px; right:15px; bottom:0px;}
}

#navbarContent {
  transition: all .5s;

  &.animated {
    animation: fadeIn 1s ease-in both;
  }

  &.mobile {
    position: absolute;
    top: 0;
    opacity: 0;
  }

  &.mobile-visible {
    opacity: 1;
    bottom: 0;
    top: unset;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

