.center-hor-ver {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.visibility-hidden {
  visibility: hidden;
}

.pl-pr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.displayErrorMessage {
  margin-top: 10px !important;
}

.label-invalid {
  color: #F44336;
}

.custom-error-text {
  display: block !important;
  font-size: 0.9rem !important;
  padding-left: 60px !important;
}

.has-wrapper .has-icon {
  bottom: 13px !important;
  top: unset !important;
}

.font-size-medium {
  font-size: medium !important;
}

.align-items-flex-end { align-items: flex-end !important;}

.text-decoration-underline {
  text-decoration: underline !important;

  @at-root #{&}-hover:hover {
    text-decoration: underline !important;
    cursor: pointer;
  }
}

.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;

  & div:first-child {
    height: 6px !important;
  }

  &-overlay {
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 9999;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    transition: all .4s;
  }
}

.cursor-pointer:hover {
  cursor: pointer !important;
}

.text-black {
  color: $black !important;
}

.bg-black {
  background: $black !important;
}

.full-height {
  min-height: calc(100vh - 180px) !important;
}

.page-list {
  @media (max-width: 576px) {
    //padding-right: 1.25rem;
  }
}

.bg-small-white {
  background: rgb(240, 240, 240) !important;
}

.h__bg-small-white:hover {
  background: rgb(240, 240, 240) !important;
}

.group-item-li > li {
  margin: 0 !important;
}

.bg-blue {
  &[class*="disabled"] {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }
}
