
@media (max-width: 576px) {
  .d-sm-r-none {
    display: none !important;
  }
  .d-sm-r-inline {
    display: inline !important;
  }
  .d-sm-r-inline-block {
    display: inline-block !important;
  }
  .d-sm-r-block {
    display: block !important;
  }
  .d-sm-r-table {
    display: table !important;
  }
  .d-sm-r-table-row {
    display: table-row !important;
  }
  .d-sm-r-table-cell {
    display: table-cell !important;
  }
  .d-sm-r-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-sm-r-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (max-width: 768px) {
  .d-md-r-none {
    display: none !important;
  }
  .d-md-r-inline {
    display: inline !important;
  }
  .d-md-r-inline-block {
    display: inline-block !important;
  }
  .d-md-r-block {
    display: block !important;
  }
  .d-md-r-table {
    display: table !important;
  }
  .d-md-r-table-row {
    display: table-row !important;
  }
  .d-md-r-table-cell {
    display: table-cell !important;
  }
  .d-md-r-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-r-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (max-width: 992px) {
  .d-lg-r-none {
    display: none !important;
  }
  .d-lg-r-inline {
    display: inline !important;
  }
  .d-lg-r-inline-block {
    display: inline-block !important;
  }
  .d-lg-r-block {
    display: block !important;
  }
  .d-lg-r-table {
    display: table !important;
  }
  .d-lg-r-table-row {
    display: table-row !important;
  }
  .d-lg-r-table-cell {
    display: table-cell !important;
  }
  .d-lg-r-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-lg-r-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}

@media (max-width: 1200px) {
  .d-xl-r-none {
    display: none !important;
  }
  .d-xl-r-inline {
    display: inline !important;
  }
  .d-xl-r-inline-block {
    display: inline-block !important;
  }
  .d-xl-r-block {
    display: block !important;
  }
  .d-xl-r-table {
    display: table !important;
  }
  .d-xl-r-table-row {
    display: table-row !important;
  }
  .d-xl-r-table-cell {
    display: table-cell !important;
  }
  .d-xl-r-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xl-r-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
}
